.button {
  font-size: 18px;
  padding: 16px;
  text-transform: uppercase;
  background-color: #6f64f8;
  color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
}

.button.full-width {
  width: 100%;
}
