.card {
  width: 100%;
  max-width: 400px;
  max-height: 486px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.card__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  height: calc(100% - 44px);
}

.card__img {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.card__img > img {
  max-width: 100%;
  min-height: fit-content;
  margin: 0 auto;
  display: block;
}

.card__details {
  margin-top: 10px;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}

.card__info {
  font-size: 12px;
  font-weight: 300;
  word-break: break-word;
}

.card__rate-and-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__price {
  font-size: 18px;
  font-weight: normal;
  align-self: center;
}

.card__product--rate {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #6f64f8;
  color: #fff;
  border-radius: 3px;
  width: 65px;
  padding: 7px;
  border: none;
  line-height: 1.2;
}

.card__rate {
  margin-top: -2px;
}

.card__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  width: 50%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  background-color: #ededed;
}

.card__btn--primary {
  background-color: #6f64f8;
  color: #fff;
}

.card__actions {
  display: flex;
}

.card__icon {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .card__btn {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .card__inner {
    padding: 10px;
  }
}
