.filters {
  width: 30vw;
  max-width: 560px;
  min-height: 1368px;
  padding: 20px 42px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 28px;
}

@media screen and (max-width: 1200px) {
  .filters {
    width: 100%;
    max-width: unset;
  }

  .filters__card {
    display: flex;
    min-height: unset;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }

  .filters__divider {
    display: none;
  }

  .filters__card > section {
    width: calc((100% / 3) - 20px);
  }

  .filters__card > section:not(section:last-child) {
    padding-right: 20px;
    border-right: 1px solid #ededed;
  }
}
