@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  padding: 10px;
}
